Repository TheSilentDev/chuck-it: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_client, install_server, deploy_client_prod, deploy_server_prod

.gitlab-ci.yml:

image: zacharyk/yds-image

stages:
  - install
  - deploy

install_client:
  stage: install
  script:
    - cd client
    - yarn
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
  only:
    refs:
      - master
    changes:
      - client/package.json

install_server:
  stage: install
  script:
    - cd server
    - yarn
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
  only:
    refs:
      - master
    changes:
      - server/package.json

deploy_client_prod:
  stage: deploy
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
    policy: pull
  script:
    - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
    - export CI=false
    - export S3_BUCKET=s3://chuck-sovtech
    - export CLOUDFRONT_ID=E2PZV0M1PEZSQT
    - cd client
    - yarn build
    - aws s3 sync --delete build $S3_BUCKET
    - export AWS_DEFAULT_REGION=us-east-1
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_ID --paths "/*"
  environment:
    name: prod
  dependencies:
    - install_client
  only:
    refs:
      - master
    changes:
      - server/*

deploy_server_prod:
  stage: deploy
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - node_modules/
    policy: pull
  script:
    - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
    - export CI=false
    - npm install -g serverless
    - serverless config credentials --provider aws --key $AWS_ACCESS_KEY_ID --secret $AWS_SECRET_ACCESS_KEY
    - cd server
    - yarn
    - serverless deploy
  dependencies:
    - install_server
  environment:
    name: server
  only:
    refs:
      - master
    changes:
      - server/*

fix(added server url): added serverless url
  client/src/datasources/chuck-api.ts
Due: none

removed proxy
  client/package.json
Due: install_client

renamed url
  client/src/containers/App/App.tsx
Due: none

linting
  client/.eslintignore
  client/.prettierrc
  client/package.json
  client/src/components/Card/Card.tsx
  client/src/components/Card/styles.ts
  client/src/components/Loader/Loader.tsx
  client/src/components/Loader/styles.ts
  client/src/containers/App/App.tsx
  client/src/containers/Chuck/Categories.tsx
  client/src/containers/Chuck/Chuck.tsx
  client/src/containers/Chuck/Joke.tsx
  client/src/containers/Chuck/styles.ts
  client/src/contexts/joke.context.tsx
  client/src/datasources/chuck-api.ts
  client/src/graphql/queries/index.ts
  client/src/index.tsx
  client/src/layout/styles.ts
  client/src/serviceWorker.ts
  client/src/theme/theme.ts
  client/yarn.lock
Due: install_client

chuck-norris-jokes
  client/.eslintignore
  client/.prettierrc
  client/package.json
  client/src/components/Card/Card.tsx
  client/src/components/Card/styles.ts
  client/src/components/Loader/Loader.tsx
  client/src/components/Loader/styles.ts
  client/src/containers/App/App.tsx
  client/src/containers/Chuck/Categories.tsx
  client/src/containers/Chuck/Chuck.tsx
  client/src/containers/Chuck/Joke.tsx
  client/src/containers/Chuck/styles.ts
  client/src/contexts/joke.context.tsx
  client/src/datasources/chuck-api.ts
  client/src/graphql/queries/index.ts
  client/src/index.tsx
  client/src/layout/styles.ts
  client/src/serviceWorker.ts
  client/src/theme/theme.ts
  client/yarn.lock
Due: install_client

linting
  server/.eslintrc.json
  server/graphql.ts
  server/package.json
  server/yarn.lock
Due: install_server, deploy_client_prod, deploy_server_prod

chore(readme): added a readme
  README.md
Due: none
